@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rethink Sans";
  }
}

:root {
  --primary-color: #0b60b0;
  --font-family: "Rethink Sans", sans-serif !important;
}

* {
  font-family: var(--font-family) !important;
}

.MuiPaper-rounded {
  border-radius: 15px !important;
}

.MuiMenuItem-root {
  padding: 10px 15px !important;
}

.MuiList-root {
  padding: 0 !important;
}

.MuiListItemIcon-root {
  margin-right: -14px;
}

.MuiButtonBase-root {
  text-transform: capitalize;
  font-size: 14px;
}
